.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 8.5em;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.grid-item {
    font-size: 40px;
    width: 1.75em;
    height: 1.75em;
    border-radius: 8px;
}

#zero-button {
    grid-column: 1 / span 2;
    width: 3.75em;
}

#equal-button {
    grid-column: 3 / span 2;
    width: 3.75em;
}