body {
    background-color: rgba(127, 255, 212, 0.623);
}

.grid-container {
    margin: 0px auto;
    place-items: center;   
    background-color: black;
    border: solid 3px;
    border-radius: 4px;
    padding: 1em;
    display: grid;
    width: fit-content;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.5em;
    row-gap: 0.5em;
}

.grid-item {
    font-size: 50px;
    width: 1.75em;
    height: 1.75em;
    border-radius: 8px;
}

.operator {
    background-color: rgba(255, 174, 0, 0.87);
}

#input-text {
    grid-column: 1 / span 4;    
    width: 7.5em;
    height: 1.5em;
    text-align: right;
}

#c-button {
    background-color: rgba(247, 56, 56, 0.87);
    grid-column: 1 / span 2;
    width: 3.75em;
}

#zero-button {
    grid-column: 1 / span 3;
    width: 5.75em;
}

#equal-button {
    background-color: rgba(247, 56, 56, 0.87);
}

#c-button:hover, #equal-button:hover, .number:hover, .operator:hover {
    background-color: rgba(182, 228, 241, 0.87);
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 1em;
}


